{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather APP</title>
    <link rel="stylesheet" href="{% static 'common/style.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />


</head>

<body>
<div class="video-background">
<video autoplay muted loop playsinline style="width: 100%; height: auto; object-fit: cover;">
    <source src="{% static 'home/weather_video.mp4' %}" type="video/mp4" />
</video>

  <div class="container">
    <h1 class="heading">What's the weather today in ...</h1>


    <form method="POST">
      {% csrf_token %}
      <input type="text" name="city" placeholder="Enter City">
      <button type="submit" class="btn">Search</button>
    </form>

{% if not exception_occurred %}
    <div class="weather">
      <div class="left">
        <h2  class="temp">{{ temp }}&#176; C</h2>
        <h2  class="city">{{ city }}</h2>
           <h5 class="country" style="font-family: 'Poppins'; margin-left: 30px;text-transform: capitalize">

                   Country: {{ country }}
                   {% if flag_url %}
                    <img src="{{ flag_url }}" alt="{{ country }} flag" style="width: 30px; height: auto; vertical-align: middle; margin-left: 5px;">
                  {% endif %}

           </h5>
         <div class="bottom-box-left">
            <img src="{% static 'common/feelslike.png' %}" width="60px" style="margin-left: 10rem;">
            <p style="text-transform: capitalize; margin-left: 7rem;">Feels like: {{ feels_like }}%</p>
      </div>
      </div>


      <div class="right">
        <div class="icon">
          <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px"></p>
        </div>
        <div class="condition">
          <p>{{ description }}</p>
          <p>{{ day }}</p>
        </div>


      <div class="bottom-box-right">
          <img src="{% static 'common/humidity.png' %}" width="50px">
          <p>Humidity percentage: {{ humidity }}%</p>


      </div>
    </div>
  </div>





{% else %}
    <h3 style="margin-top:30px; text-align: center">City not found</h3>
    <h3 style="text-align: center">Please check your spelling and try again </h3>
     <script>
        window.onload = function() {
            alert("City information is not available to Weather API");
        }
    </script>

{% endif %}
</div>
</body>
</html>